<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lunch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LunchSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LunchTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LunchTestTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LunchUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD7639571F47121900BDF5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD7639681F47150500BDF5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD8D72871F3DA6C900D5969F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD8D729B1F3DA6C900D5969F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD8D72AF1F3DA6D900D5969F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD8D72C11F3DA6E200D5969F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD8D72D21F3DA70000D5969F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
